.scroll_text {
    margin-top: 7em;
    margin-left: -6px;
    padding-right: 0.2em;
    font-family: 'Lato', AppleGothic, sans-serif, Helvetica;
    font-weight: 300;
    color: rgba(255,255,255,0.45);
    font-size: 12px;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
}
.scroll_text:before, .scroll_text:after {
    opacity: .6;
    display: block;
    position: absolute;
    top: 0.3rem;
    right: -14px;
    font-size: 10px;
    content: '';
    width: 1em;
    height: 1em;
    background-image: url("img/ico_darr.svg");
    background-position: 0 0;
    background-size: 0.9em 0.9em;
    background-repeat: no-repeat;
}
.scroll_text:after {
    top: 0.04rem;
}
 .title_text_slide { 
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 40px;
            color: rgba(255,255,255,0.8);
} 
            
.title_text_slide > span {
                position: relative;
                animation: visualTxtAni 4s ease-in-out infinite;
                opacity: 0;
}
.title_text_slide > span  i {
                    position: relative;
                    font-style: normal;
                    text-shadow: 0 0 4px #fff, 0 0 2px rgba(255, 245, 217, 0.6);
 }

.title_text_slide > span:nth-child(1){
                    animation-delay: .1s;
}
                .title_text_slide > span:nth-child(2){
                    animation-delay: .2s;
                }
                .title_text_slide > span:nth-child(3){
                    animation-delay: .3s;
                }
                .title_text_slide > span:nth-child(4){
                    animation-delay: .4s;
                }
                .title_text_slide > span:nth-child(5){
                    animation-delay: .5s;
                }
                .title_text_slide > span:nth-child(6){
                    animation-delay: .6s;
                }
                .title_text_slide > span:nth-child(7){
                    animation-delay: .7s;
                }
                .title_text_slide > span:nth-child(8){
                    animation-delay: .8s;
                }
                .title_text_slide > span:nth-child(9){
                    animation-delay: .9s;
                }
                .title_text_slide > span:nth-child(10){
                    animation-delay: 1s;
                }
                .title_text_slide > span:nth-child(11){
                    animation-delay: 1.1s;
                }


#middle {
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

#middle::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    opacity: .3
}

#middle h2 {
    font-size: 48px;
    color: #ffffff;
}

#middle .skill {
    margin-bottom: 60px;
}

.progress-wrap {
    position: relative;
    padding: 10px 35px;
}

.progress-wrap h3 {
    color: #ffffff;
    text-align: left;
}

.progress .color1,
.progress .color1 .bar-width,
.progress .color1 .bar-width::after {
    background: #2d7da4;
}

.progress .color2,
.progress .color2 .bar-width,
.progress .color2 .bar-width::after {
    background: #6aa42f;
}

.progress .color3,
.progress .color3 .bar-width,
.progress .color3 .bar-width::after {
    background: #ffcc33;
}

.progress .color4,
.progress .color4 .bar-width,
.progress .color4 .bar-width::after {
    background: #db3615;
}

.progress,
.progress-bar {
    height: 10px;
    line-height: 10px;
    background: #e6e6e6;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    overflow: visible;
    text-align: right;
}

span.bar-width::after {
    content: '';
    height: 16px;
    width: 16px;
    position: absolute;
    bottom: -32.5px;
    border-radius: 50%;
    right: 5px;
    border: 4px solid #fff;
}

.progress {
    position: relative;
}

.progress .bar-width {
    position: absolute;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    top: -40px;
    border-radius: 2px;
}

.progress .progress-bar .bar-width {
    background-color: #fff;
    color: #707070;
}

.progress span {
    position: relative;
}

.progress .progress-bar span:before {
    content: " ";
    position: absolute;
    width: auto;
    height: auto;
    border-width: 8px 5px;
    border-style: solid;
    bottom: -15px;
    right: 8px;
    border-top-color: #ffffff !important;
    color: #222;
}

.progress .color1 span:before {
    border-color: #2d7da4 transparent transparent transparent;
}

.progress .color2 span:before {
    border-color: #6aa42f transparent transparent transparent;
}

.progress .color3 span:before {
    border-color: #ffcc33 transparent transparent transparent;
}

.progress .color4 span:before {
    border-color: #db3615 transparent transparent transparent;
}